
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="Logs Agora" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var item in ViewBag.Version)
        {
            @item <br />
        }
        <br />
        @foreach (var item in ViewBag.ListaLogsAgora)
        {
            @item <br />
        }
    </div>
</body>
</html>
